<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js">
</script>
<body>
<div ng-app="myApp" ng-controller="arrCtrl">
<p><input type="text" ng-model="Test"></p>
<ul>
<li ng-repeat="x in students | filter: Test">
{{x.lastname +" "+ x.name +", mark: " + x.mark + ", date of birth: " + x.date}}</li>
</ul>
</div>
<script>
var app = angular.module('myApp', []);
app.controller('arrCtrl', function($scope){
$scope.students = [
{"lastname": "Ciubac", "name": "Vladimir", "mark": "8", "date": "4.05.2000"},
{"lastname": "Jdanov", "name": "Andrei", "mark": "9", "date": "9.12.1999"},
{"lastname": "Dorogan", "name": "Kirill", "mark": "10", "date": "21.7.2000"},
{"lastname": "Ulinici", "name": "Pavel", "mark": "9", "date": "5.06.2000"},
{"lastname": "Zubov", "name": "Maxim", "mark": "7", "date": "5.3.1997"},
];
});
</script>
</body>
</html>